<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
        <script type="text/javascript" src="/static/js/app.js"></script>
        <title>Calenday</title>
    </head>

    <body onload="pageLoadCalendarData('{{username}}'); queryfriendrequestcount('{{username}}')"> <!--MAIN FUNCTION??-->
        <nav class="navbar navbar-expand-custom navbar-mainbg">
            <a class="navbar-brand navbar-logo" href="#">Calenday</a>
            <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars text-white"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                    <li class="nav-item active" id="dashboard">
                        <a class="nav-link" >Dashboard</a>
                    </li>
                    <li class="nav-item" id="calendar">
                        <a class="nav-link" >Calendar</a>
                    </li>
                    <li class="nav-item" id="friends" onclick="queryfriends('{{username}}');">
                        <a class="nav-link">Friends</a>
                    </li>
                    <li class="nav-item" id="support">
                        <a class="nav-link" >Support</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="calendar-content" id="calendar-content" style="display:none;">
          <div class="col-md-12" id="cheapfix">
            <div class="bt-calendar weekly-layout">
                <div class="calendar-wrapper">
                    <div class="calendar-table">
                        <div class="calendar-month-zone">
                            <ul class="month-bar">
                                <li class="prev">
                                    <a class="btn" onclick="query_prev('{{username}}')">
                                        <i class="fa fa-angle-left white fa-3x" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="month" id="month"></li>
                                <p id="hiddenweekcurrent" style="display:none"></p>
                                <li class="next">
                                    <a class="btn" onclick="query_next('{{username}}')">
                                        <i class="fa fa-angle-right white fa-3x" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <ul class="weekdays" id="weekdaysul">
                            <li id="Monday" class="" data-weekday="Monday">
                                <span class="week-day-item">Monday</span>
                                <span class="day-item" id="day-item-Monday"></span>
                            </li>

                            <li id="Tuesday" class="" data-weekday="Tuesday">
                                <span class="week-day-item">Tuesday</span>
                                <span class="day-item" id="day-item-Tuesday"></span>
                            </li>
                            
                            <li id="Wednesday" class="" data-weekday="Wednesday">
                                <span class="week-day-item">Wednesday</span>
                                <span class="day-item" id="day-item-Wednesday"></span>
                            </li>

                            <li id="Thursday" class="" data-weekday="Thursday">
                                <span class="week-day-item">Thursday</span>
                                <span class="day-item" id="day-item-Thursday"></span>
                            </li>
                            
                            <li id="Friday" class="" data-weekday="Friday">
                                <span class="week-day-item">Friday</span>
                                <span class="day-item" id="day-item-Friday"></span>
                            </li>

                            <li id="Saturday" class="" data-weekday="Saturday">
                                <span class="week-day-item">Saturday</span>
                                <span class="day-item" id="day-item-Saturday"></span>
                            </li>

                            <li id="Sunday" class="" data-weekday="Sunday">
                                <span class="week-day-item">Sunday</span>
                                <span class="day-item" id="day-item-Sunday"></span>
                            </li>

                        </ul>

                        <ul class="day-time">
                            <li>07:00 AM</li>
                            <li>08:00 AM</li>
                            <li>09:00 AM</li>
                            <li>10:00 AM</li>
                            <li>11:00 AM</li>
                            <li>12:00 PM</li>
                            <li>1:00 PM</li>
                            <li>2:00 PM</li>
                            <li>3:00 PM</li>
                            <li>4:00 PM</li>
                            <li>5:00 PM</li>
                            <li>6:00 PM</li>
                            <li>7:00 PM</li>
                            <li>8:00 PM</li>
                            <li>9:00 PM</li>
                            <li>10:00 PM</li>
                            <li>11:00 PM</li>
                            <li>12:00 AM</li>
                        </ul>

                        <ul class="days" id="days">
                            <li data-weekday="Monday" id="Monday">
                                <ul class="day-li">
                                    <li id="7AM-Monday">
                                        <div class="single-event blue">
                                            <span class="event-title">This is an event with a large text</span>
                                            <span class="event-time" style="padding-top: 3px;">07:00 - 08.00</span>
                                            <span class="label calendar-overlay">calendar overlay</span>
                                        </div>
                                    </li>
                                    <li id="8AM-Monday">
                                        <div class="single-event meeting">
                                            <span class="event-title">This is an event with a large text</span>
                                            <span class="event-time" style="padding-top: 3px;">07:00 - 08.00</span>
                                            <span class="event-recurrence">Every Year</span>
                                            <span class="label calendar-overlay">calendar overlay</span>
                                        </div>
                                    </li>
                                    <li id="9AM-Monday">
                                    </li>
                                    <li id="10AM-Monday">
                                    </li>
                                    <li id="11AM-Monday">
                                    </li>
                                    <li id="12PM-Monday">
                                    </li>
                                    <li id="1PM-Monday">
                                    </li>
                                    <li id="2PM-Monday">
                                    </li>
                                    <li id="3PM-Monday">
                                    </li>
                                    <li id="4PM-Monday">
                                    </li>
                                    <li id="5PM-Monday">
                                    </li>
                                    <li id="6PM-Monday">
                                    </li>
                                    <li id="7PM-Monday">
                                    </li>
                                    <li id="8PM-Monday">
                                    </li>
                                    <li id="9PM-Monday">
                                    </li>
                                    <li id="10PM-Monday">
                                    </li>
                                    <li id="11PM-Monday">
                                    </li>
                                    <li id="12AM-Monday">
                                    </li>
                                </ul>
                            </li>
                            <li data-weekday="Tuesday" id="Tuesday">
                                <ul class="day-li">
                                    <li id="7AM-Tuesday">
                                    </li>
                                    <li id="8AM-Tuesday">
                                    </li>
                                    <li id="9AM-Tuesday">
                                    </li>
                                    <li id="10AM-Tuesday">
                                    </li>
                                    <li id="11AM-Tuesday">
                                    </li>
                                    <li id="12PM-Tuesday">
                                    </li>
                                    <li id="1PM-Tuesday">
                                    </li>
                                    <li id="2PM-Tuesday">
                                    </li>
                                    <li id="3PM-Tuesday">
                                    </li>
                                    <li id="4PM-Tuesday">
                                    </li>
                                    <li id="5PM-Tuesday">
                                    </li>
                                    <li id="6PM-Tuesday">
                                    </li>
                                    <li id="7PM-Tuesday">
                                    </li>
                                    <li id="8PM-Tuesday">
                                    </li>
                                    <li id="9PM-Tuesday">
                                    </li>
                                    <li id="10PM-Tuesday">
                                    </li>
                                    <li id="11PM-Tuesday">
                                    </li>
                                    <li id="12AM-Tuesday">
                                    </li>
                                </ul>
                            </li>
                            <li data-weekday="Wednesday" id="Wednesday">
                                <ul class="day-li">
                                    <li id="7AM-Wednesday">
                                    </li>
                                    <li id="8AM-Wednesday">
                                    </li>
                                    <li id="9AM-Wednesday">
                                    </li>
                                    <li id="10AM-Wednesday">
                                    </li>
                                    <li id="11AM-Wednesday">
                                    </li>
                                    <li id="12PM-Wednesday">
                                    </li>
                                    <li id="1PM-Wednesday">
                                    </li>
                                    <li id="2PM-Wednesday">
                                    </li>
                                    <li id="3PM-Wednesday">
                                    </li>
                                    <li id="4PM-Wednesday">
                                    </li>
                                    <li id="5PM-Wednesday">
                                    </li>
                                    <li id="6PM-Wednesday">
                                    </li>
                                    <li id="7PM-Wednesday">
                                    </li>
                                    <li id="8PM-Wednesday">
                                    </li>
                                    <li id="9PM-Wednesday">
                                    </li>
                                    <li id="10PM-Wednesday">
                                    </li>
                                    <li id="11PM-Wednesday">
                                    </li>
                                    <li id="12AM-Wednesday">
                                    </li>
                                </ul>
                            </li>
                            <li data-weekday="Thursday" id="Thursday">
                                <ul class="day-li">
                                    <li id="7AM-Thursday">
                                    </li>
                                    <li id="8AM-Thursday">
                                    </li>
                                    <li id="9AM-Thursday">
                                    </li>
                                    <li id="10AM-Thursday">
                                    </li>
                                    <li id="11AM-Thursday">
                                    </li>
                                    <li id="12PM-Thursday">
                                    </li>
                                    <li id="1PM-Thursday">
                                    </li>
                                    <li id="2PM-Thursday">
                                    </li>
                                    <li id="3PM-Thursday">
                                    </li>
                                    <li id="4PM-Thursday">
                                    </li>
                                    <li id="5PM-Thursday">
                                    </li>
                                    <li id="6PM-Thursday">
                                    </li>
                                    <li id="7PM-Thursday">
                                    </li>
                                    <li id="8PM-Thursday">
                                    </li>
                                    <li id="9PM-Thursday">
                                    </li>
                                    <li id="10PM-Thursday">
                                    </li>
                                    <li id="11PM-Thursday">
                                    </li>
                                    <li id="12AM-Thursday">
                                    </li>
                                </ul>
                            </li>
                            <li data-weekday="Friday" id="Friday">
                                <ul class="day-li">
                                    <li id="7AM-Friday">
                                    </li>
                                    <li id="8AM-Friday">
                                    </li>
                                    <li id="9AM-Friday">
                                    </li>
                                    <li id="10AM-Friday">
                                    </li>
                                    <li id="11AM-Friday">
                                    </li>
                                    <li id="12PM-Friday">
                                    </li>
                                    <li id="1PM-Friday">
                                    </li>
                                    <li id="2PM-Friday">
                                    </li>
                                    <li id="3PM-Friday">
                                    </li>
                                    <li id="4PM-Friday">
                                    </li>
                                    <li id="5PM-Friday">
                                    </li>
                                    <li id="6PM-Friday">
                                    </li>
                                    <li id="7PM-Friday">
                                    </li>
                                    <li id="8PM-Friday">
                                    </li>
                                    <li id="9PM-Friday">
                                    </li>
                                    <li id="10PM-Friday">
                                    </li>
                                    <li id="11PM-Friday">
                                    </li>
                                    <li id="12AM-Friday">
                                    </li>
                                </ul>
                            </li>
                            <li data-weekday="Saturday" id="Saturday">
                                <ul class="day-li">
                                    <li id="7AM-Saturday">
                                    </li>
                                    <li id="8AM-Saturday">
                                    </li>
                                    <li id="9AM-Saturday">
                                    </li>
                                    <li id="10AM-Saturday">
                                    </li>
                                    <li id="11AM-Saturday">
                                    </li>
                                    <li id="12PM-Saturday">
                                    </li>
                                    <li id="1PM-Saturday">
                                    </li>
                                    <li id="2PM-Saturday">
                                    </li>
                                    <li id="3PM-Saturday">
                                    </li>
                                    <li id="4PM-Saturday">
                                    </li>
                                    <li id="5PM-Saturday">
                                    </li>
                                    <li id="6PM-Saturday">
                                    </li>
                                    <li id="7PM-Saturday">
                                    </li>
                                    <li id="8PM-Saturday">
                                    </li>
                                    <li id="9PM-Saturday">
                                    </li>
                                    <li id="10PM-Saturday">
                                    </li>
                                    <li id="11PM-Saturday">
                                    </li>
                                    <li id="12AM-Saturday">
                                    </li>
                                </ul>
                            </li>
                            <li data-weekday="Sunday" id="Sunday">
                                <ul class="day-li">
                                    <li id="7AM-Sunday">
                                    </li>
                                    <li id="8AM-Sunday">
                                    </li>
                                    <li id="9AM-Sunday">
                                    </li>
                                    <li id="10AM-Sunday">
                                    </li>
                                    <li id="11AM-Sunday">
                                    </li>
                                    <li id="12PM-Sunday">
                                    </li>
                                    <li id="1PM-Sunday">
                                    </li>
                                    <li id="2PM-Sunday">
                                    </li>
                                    <li id="3PM-Sunday">
                                    </li>
                                    <li id="4PM-Sunday">
                                    </li>
                                    <li id="5PM-Sunday">
                                    </li>
                                    <li id="6PM-Sunday">
                                    </li>
                                    <li id="7PM-Sunday">
                                    </li>
                                    <li id="8PM-Sunday">
                                    </li>
                                    <li id="9PM-Sunday">
                                    </li>
                                    <li id="10PM-Sunday">
                                    </li>
                                    <li id="11PM-Sunday">
                                    </li>
                                    <li id="12AM-Sunday">
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <div class="loader" id="loader" style="display:none;" >
                            <div class="loader-inner">
                              <div class="loader-line-wrap">
                                <div class="loader-line"></div>
                              </div>
                              <div class="loader-line-wrap">
                                <div class="loader-line"></div>
                              </div>
                              <div class="loader-line-wrap">
                                <div class="loader-line"></div>
                              </div>
                              <div class="loader-line-wrap">
                                <div class="loader-line"></div>
                              </div>
                              <div class="loader-line-wrap">
                                <div class="loader-line"></div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="right-bar">
            <div class="addnewcalendar" onclick="addNewEvent();">
                <i class="fa fa-plus" style="font-size:23px;color: #00ad17;"></i>
                <h3 class="addnewbutton"> Add New </h3>
            </div>

            <div class="addView" id="addView" style="display:none;" >
                <div class="back" id="back" onclick="calendarback();">
                    <h1>Back</h1>
                </div>
                <div class="addCalendarContent" id="addCalendarContent">
                    <div class="group">      
                        <input type="text" id="title" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Add Title</label>
                      </div>
                    
                    <div class="datetimebox">
                        <input type="date" id="datepick" name="datepick" required>
                        <input type="time" id="timepick" name="timepick" required>
                        <select id="duration" class="duration" name="duration" required>
                            <option value="30 min">30 min</option>
                            <option value="1 hr">1 hr</option>
                            <option value="1 hour 30 min">1 hour 30 min</option>
                            <option value="2 hour">2 hours</option>
                            <option value="2 hours 30 min">2 hours 30 min</option>
                            <option value="3 hours">3 hours</option>
                            <option value="3 hours 30 min">3 hours 30 min</option>
                            <option value="4 hours">4 hours</option>
                            <option value="4 hours 30 min">4 hours 30 min </option>
                            <option value="5 hours">5 hours</option>
                            <option value="5 hours 30 min">5 hours 30 min</option>
                            <option value="6 hour">6 hours</option>
                            <option value="6 hours 30 min">6 hours 30 min</option>
                            <option value="7 hours">7 hours</option>
                            <option value="7 hours 30 min">7 hours 30 min</option>
                            <option value="8 hours">8 hours</option>
                            <option value="8 hours 30 min">8 hours 30 min</option>
                            <option value="9 hours">9 hours</option>
                        </select>
                        <select id="importance" class="importance" name="importance" required>
                            <option value="yellow">Reminder</option>
                            <option value="blue">Task</option>
                            <option value="red">Important</option>
                        </select>
                    </div>
                    
                    <textarea class="desc" id="desc" name="desc" cols="80" rows="5" placeholder="Description..."></textarea>
                    <div class="buttonbox">
                        <button class="calendarSubmitButton" onclick="addEventSubmit('{{username}}');"> Submit </button>
                        <script>
                            function addEventSubmit(username) { //if am? alert false // THIS IS SCRIPT TAG INSERTED
                                //grab the values from title, datepick, and timepick
                                title = document.getElementById("title").value;
                                //desc = document.getElementById("desc").value;
                                date = document.getElementById("datepick").value;
                                time = document.getElementById("timepick").value;
                                duration = document.getElementById("duration").value;
                                currentweek = document.getElementById("hiddenweekcurrent").innerHTML;
                                importance = document.getElementById("importance").value;
                                desc = document.getElementById("desc").value;
                                console.log(currentweek)
                                console.log(title);
                                console.log(date);
                                console.log(time);
                                console.log(duration);
                                console.log(currentweek);
                                console.log(importance);
                                console.log(desc);
                                if(title == "" || date == "" || time == "" || duration == ""){
                                    alert("Make sure to include the tite, time, date, and duration of the event");
                                    return
                                }


                                currentweek = currentweek.split("-");
                                currentmonth = currentweek[0]
                                currentday = currentweek[1]
                                currentyear = currentweek[2]

                                selectedweek = date.split("-");
                                selectedmonth = selectedweek[1]
                                selectedday = parseInt(selectedweek[2])
                                selectedyear = selectedweek[0]

                                check = parseInt(currentday)+6;//account for the end of the month!!!
                                console.log(check)
                                //turn currentday into an int
                                db_date = selectedmonth + "-" + selectedday + "-" + selectedyear;

                                list_of_days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
                                date = new Date(selectedmonth + "-" + selectedday + "-" + selectedyear);
                                let day = date.getDay()
                                day_name = list_of_days[day];
                                console.log(day_name);

                                time = (convert(time));
                                time = time.split(":");
                                time[1] = time[1].substring(3);
                                time = time[0] + time[1];
                            
                                key = time + "-" + day_name;
                                console.log(key);

                                if(selectedmonth == currentmonth && selectedyear == currentyear && selectedday <= check){
                                    //add to current calendar
                                    li = document.getElementById(key);
                                    li.innerHTML = `<div class="single-event"><span class="event-title">${title}</span></div>`;

                                }

                                const data = { username: username,
                                            title: title,
                                            date: db_date,  
                                            time: time,
                                            duration: duration,
                                            importance: importance,
                                            desc:desc,
                                            key: key,
                                            day_name: day_name,
                                            //currentweek: currentweek, #done serverside to account for non current weeks

                                            };

                                fetch('/api/createcalendar', {
                                method: 'POST', // or 'PUT'
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify(data),
                                })
                                .then(response => response.json())
                                .then(data => {
                                console.log('Success:', data);
                                })
                                .catch((error) => {
                                console.error('Error:', error);
                                });

                                //change the view back to the calendar
                                document.getElementById('addView').style.display = "none";
                                return
                            }
                        </script>
                    </div>
                    
                </div>
            </div>

          </div>
          
        </div>
        

        <div class="site-wrap" id="dashboard-content">

            <nav class="site-nav">
          
              <div class="name" id="datemain">
              </div>
              
              <div class="profile-box">
                    <img class="basic-profilepic" src="/static/img/basic-profilepic1.png">
                    <h3>{{username}}</h3>
                    

              </div>
              
          
              <div class="note">
                <h3>Your Profile</h3>
                <p>Add shit to make your profile look cool</p>
              </div>
          
            </nav>
          
            <main>
          
            <header>
                <div class="breadcrumbs">
                  <a href="#0/">Profile</a>
                </div>
          
                <h1 class="title">Hello {{username}}</h1>
          
                <nav class="nav-tabs" id="nav-tabs">
                  <a href="#0" id="tasks" class="active" onclick="mainActiveNav('tasks');">
                    Tasks
                    <span>14</span>
                  </a>
                  <a href="#0" id="friendrequests" onclick="queryfriendrequests('{{username}}'); mainActiveNav('friendrequests');">
                    Friend Requests
                    <span id="friendrequestcount"></span>
                  </a>
                  <a href="#0" id="priorities" onclick="mainActiveNav('priorities');">
                    Priorities
                  </a>
                </nav>
            </header>
          
            <div class="content-columns" id="taskscolumn">
          
                <div class="col">
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                </div>
                <div class="col">
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                </div>
                <div class="col">
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                </div>
                <div class="col">
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                </div>
            </div>
            
            
            <div class="content-columns" id="friendrequestsbox">
                <h3 style="color:rgb(83, 83, 83);">Friend Requests</h3>
                <div class="friendreqcol" id='friendreqcol'>
                  <h3 id="friendreqloading" class="friendreqloading">loading...</h3>
                </div>
                    
            </div>
        
            <div class="content-columns" id="prioritiesbox">
                <h3 style="color:rgb(83, 83, 83);">Priorities</h3>
            </div>
              
            </main>
          
        </div>

        <div class="ui container" id="friends-content">
            <div class="chat-container">
              <div class="left-bar" id="left-bar">
                <div class="topfriendbar">
                    <input class="search-bar" type="text" placeholder="Search">
                    <img class="friend-icon" src="/static/img/addfriend.png" onclick="addNewFriend();">
                </div>
                <p id="nofriendtag" class="nofriendtag"></p>
                <div class="friendscontainer" id="friendscontainer"></div>
              </div>

              <div class="right-content-chat" id="right-content-chat">
                <div class="bottomchatbox">
                    <input class="chatinput" type="text" placeholder="Message #LetsPlan" id="chatinput">
                    <button class="chatsubmit" id="chatsubmit" onclick="sendchat('{{username}}')">Send</button>
                </div>
                <script>
                    var socket = io.connect("http://10.0.0.104:5000/");
                    socket.on("connect", function() {
                        console.log('{{username}}'+ "_" +"connected");
                        }
                        );
                    socket.on('message', function(message) {
                        chatbox = document.getElementById("right-content-chat");
                        chatbox.innerHTML += message + "<br>";
                        });
                </script>
                <div class="addFriend" id="addFriend" style="display:none;">
                    <div class="back" id="back" onclick="friendback();">
                        <h1>Back</h1>
                    </div>
                    <div class="addfriendcontent">
                        <div class="rowbox">
                            <input class="usernameinput" id="usernameinput" type="text" placeholder="Username">
                            <button class="addfriendbutton" onclick="addfriendsubmit('{{username}}');">Add Friend</button>
                        </div>
                        <div class="friendresponsebox" id="friendresponsebox">
                            
                        </div>
                    </div>
                </div>


              </div>
            </div>

            
        </div>
        
        <div class="support-content" id="support-content">
          <div class="support-container">

          </div>
        </div>
        
    </body>