
    <li data-weekday="Monday" id="Monday">
        <ul class="day-li">
            <li id="7AM-Monday">
            </li>
            <li id="8AM-Monday">
            </li>
            <li id="9AM-Monday">
            </li>
            <li id="10AM-Monday">
            </li>
            <li id="11AM-Monday">
            </li>
            <li id="12PM-Monday">
            </li>
            <li id="1PM-Monday">
            </li>
            <li id="2PM-Monday">
            </li>
            <li id="3PM-Monday">
            </li>
            <li id="4PM-Monday">
            </li>
            <li id="5PM-Monday">
            </li>
            <li id="6PM-Monday">
            </li>
            <li id="7PM-Monday">
            </li>
            <li id="8PM-Monday">
            </li>
            <li id="9PM-Monday">
            </li>
            <li id="10PM-Monday">
            </li>
            <li id="11PM-Monday">
            </li>
            <li id="12AM-Monday">
            </li>
        </ul>
    </li>
    
    <li data-weekday="Tuesday" id="Tuesday">
        <ul class="day-li">
            <li id="7AM-Tuesday">
            </li>
            <li id="8AM-Tuesday">
            </li>
            <li id="9AM-Tuesday">
            </li>
            <li id="10AM-Tuesday">
            </li>
            <li id="11AM-Tuesday">
            </li>
            <li id="12PM-Tuesday">
            </li>
            <li id="1PM-Tuesday">
            </li>
            <li id="2PM-Tuesday">
            </li>
            <li id="3PM-Tuesday">
            </li>
            <li id="4PM-Tuesday">
            </li>
            <li id="5PM-Tuesday">
            </li>
            <li id="6PM-Tuesday">
            </li>
            <li id="7PM-Tuesday">
            </li>
            <li id="8PM-Tuesday">
            </li>
            <li id="9PM-Tuesday">
            </li>
            <li id="10PM-Tuesday">
            </li>
            <li id="11PM-Tuesday">
            </li>
            <li id="12AM-Tuesday">
            </li>
        </ul>
    </li>

    <li data-weekday="Wednesday" id="Wednesday">
        <ul class="day-li">
            <li id="7AM-Wednesday">
            </li>
            <li id="8AM-Wednesday">
            </li>
            <li id="9AM-Wednesday">
            </li>
            <li id="10AM-Wednesday">
            </li>
            <li id="11AM-Wednesday">
            </li>
            <li id="12PM-Wednesday">
            </li>
            <li id="1PM-Wednesday">
            </li>
            <li id="2PM-Wednesday">
            </li>
            <li id="3PM-Wednesday">
            </li>
            <li id="4PM-Wednesday">
            </li>
            <li id="5PM-Wednesday">
            </li>
            <li id="6PM-Wednesday">
            </li>
            <li id="7PM-Wednesday">
            </li>
            <li id="8PM-Wednesday">
            </li>
            <li id="9PM-Wednesday">
            </li>
            <li id="10PM-Wednesday">
            </li>
            <li id="11PM-Wednesday">
            </li>
            <li id="12AM-Wednesday">
            </li>
        </ul>
    </li>

    <li data-weekday="Thursday" id="Thursday">
        <ul class="day-li">
            <li id="7AM-Thursday">
            </li>
            <li id="8AM-Thursday">
            </li>
            <li id="9AM-Thursday">
            </li>
            <li id="10AM-Thursday">
            </li>
            <li id="11AM-Thursday">
            </li>
            <li id="12PM-Thursday">
            </li>
            <li id="1PM-Thursday">
            </li>
            <li id="2PM-Thursday">
            </li>
            <li id="3PM-Thursday">
            </li>
            <li id="4PM-Thursday">
            </li>
            <li id="5PM-Thursday">
            </li>
            <li id="6PM-Thursday">
            </li>
            <li id="7PM-Thursday">
            </li>
            <li id="8PM-Thursday">
            </li>
            <li id="9PM-Thursday">
            </li>
            <li id="10PM-Thursday">
            </li>
            <li id="11PM-Thursday">
            </li>
            <li id="12AM-Thursday">
            </li>
        </ul>
    </li>

    <li data-weekday="Friday" id="Friday">
        <ul class="day-li">
            <li id="7AM-Friday">
            </li>
            <li id="8AM-Friday">
            </li>
            <li id="9AM-Friday">
            </li>
            <li id="10AM-Friday">
            </li>
            <li id="11AM-Friday">
            </li>
            <li id="12PM-Friday">
            </li>
            <li id="1PM-Friday">
            </li>
            <li id="2PM-Friday">
            </li>
            <li id="3PM-Friday">
            </li>
            <li id="4PM-Friday">
            </li>
            <li id="5PM-Friday">
            </li>
            <li id="6PM-Friday">
            </li>
            <li id="7PM-Friday">
            </li>
            <li id="8PM-Friday">
            </li>
            <li id="9PM-Friday">
            </li>
            <li id="10PM-Friday">
            </li>
            <li id="11PM-Friday">
            </li>
            <li id="12AM-Friday">
            </li>
        </ul>
    </li>

    <li data-weekday="Saturday" id="Saturday">
        <ul class="day-li">
            <li id="7AM-Saturday">
            </li>
            <li id="8AM-Saturday">
            </li>
            <li id="9AM-Saturday">
            </li>
            <li id="10AM-Saturday">
            </li>
            <li id="11AM-Saturday">
            </li>
            <li id="12PM-Saturday">
            </li>
            <li id="1PM-Saturday">
            </li>
            <li id="2PM-Saturday">
            </li>
            <li id="3PM-Saturday">
            </li>
            <li id="4PM-Saturday">
            </li>
            <li id="5PM-Saturday">
            </li>
            <li id="6PM-Saturday">
            </li>
            <li id="7PM-Saturday">
            </li>
            <li id="8PM-Saturday">
            </li>
            <li id="9PM-Saturday">
            </li>
            <li id="10PM-Saturday">
            </li>
            <li id="11PM-Saturday">
            </li>
            <li id="12AM-Saturday">
            </li>
        </ul>
    </li>

    <li data-weekday="Sunday" id="Sunday">
        <ul class="day-li">
            <li id="7AM-Sunday">
            </li>
            <li id="8AM-Sunday">
            </li>
            <li id="9AM-Sunday">
            </li>
            <li id="10AM-Sunday">
            </li>
            <li id="11AM-Sunday">
            </li>
            <li id="12PM-Sunday">
            </li>
            <li id="1PM-Sunday">
            </li>
            <li id="2PM-Sunday">
            </li>
            <li id="3PM-Sunday">
            </li>
            <li id="4PM-Sunday">
            </li>
            <li id="5PM-Sunday">
            </li>
            <li id="6PM-Sunday">
            </li>
            <li id="7PM-Sunday">
            </li>
            <li id="8PM-Sunday">
            </li>
            <li id="9PM-Sunday">
            </li>
            <li id="10PM-Sunday">
            </li>
            <li id="11PM-Sunday">
            </li>
            <li id="12AM-Sunday">
            </li>
        </ul>
    </li>
