<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
        <script type="text/javascript" src="/static/js/login.js"></script>
        <link rel="shortcut icon" href="/static/img/icon.png">
        <title>Plan App</title>
    </head>

    <body>
        <div class="login-reg-panel">
            
                      
            <div class="register-info-box">
              <h2>Don't have an account?</h2>
              <p>Let's get started</p>
              <button class="registerbutton" id="label-login" for="log-login-show">Register</button>
              <input type="radio" name="active-log-panel" id="log-login-show">
            </div>
                      
            <div class="flip_box">
                <div class="front" id="front">
                    
                    <form class="login-show" method="POST">
                        <h2>LOGIN</h2>
                        <input id="loginemail" name="email" type="text" placeholder="Email" required="">
                        <input id="loginpass" name="pass" type="password" placeholder="Password" required="">
                        <button class="passwordbutton" type="submit" value="Login">Login</button>
                        <a href="">Forgot password?</a>
                        <p>{{error}}</p>
                    </form>
                
                      
                </div>
                <div class='back' id="back">
                    
                    <form class="register-show" method="POST">
                        <h2>REGISTER</h2>
                        <input id="regusername" name="regusername" type="text" placeholder="Username" required="">
                        <input id="regemail" name="regemail" type="text" placeholder="Email" required="">
                        <input id="regpass" name="regpass1" type="password" placeholder="Password" required="">
                        <input id="regpass2" name="regpass2" type="password" placeholder="Confirm Password" required="">
                        <button class="registerbutton2" type="submit" value="Register">Register</button>
                        <p>{{error}}</p>
                    </form>


                     
                </div>
            </div>

              
        </div>
        
        <div class="wavesbox">
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
            </svg>
        </div>
    </body>
</html>
